<div class="sidebar" data-color="blue">
    <div class="logo">
        &nbsp;
        <img width="230px" height="150px" src="../assets/img/logo/basilio_logo.png">
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <div class="user">
                <div class="photo">
                    <img src="../assets/img/profile.png" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <%
                            var html = '';
                            if(locals.staffData){
                                html ='<span><b class="caret"></b>'+ locals.staffData.firstName + ' ' + locals.staffData.lastName +'</span>';
                            }
                        %>
                        <%-html%>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li id="myProfile">
                                <a href="user">
                                    <span class="sidebar-mini-icon">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li id="staff">
                                <a href="staffTable">
                                    <span class="sidebar-mini-icon">ST</span>
                                    <span class="sidebar-normal">Staff Table</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <li id="request">
                <a href="request">
                    <i class="now-ui-icons files_single-copy-04"></i>
                    <span id="spanReq" style="position: absolute; top:15px; right: 15px; z-index: 1;" class="badge badge-danger" id=""></span>
                    <p>Approval Request</p>
                </a>
            </li>
            <li id="dashboard">
                <a href="dashboard">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <!-- <li id="journal">
                <a href="journal">
                    <i class="now-ui-icons education_agenda-bookmark"></i>
                    <p>Journal</p>
                </a>
            </li> -->
            <!-- <li id="list">
                <a data-toggle="collapse" href="#tableList">
                    <i class="now-ui-icons files_paper"></i>
                    <p>
                        Table List
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="tableList">
                    <ul class="nav">
                        <li id="hTable">
                            <a href="hostTable">
                                <span class="sidebar-mini-icon">HT</span>
                                <span class="sidebar-normal"> Hosts Table </span>
                            </a>
                        </li>
                        <li id="dTable">
                            <a href="diseaseTable">
                                <span class="sidebar-mini-icon">D</span>
                                <span class="sidebar-normal"> Disease Table </span>
                            </a>
                        </li>
                        <li id="rTable">
                            <a href="rejectTable">
                                <span class="sidebar-mini-icon">RT</span>
                                <span class="sidebar-normal"> Reject Table </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> -->

            <!-- <li id="main">
                <a data-toggle="collapse" href="#maintenance">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                    <p>
                        Maintenance
                        <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse " id="maintenance">
                    <ul class="nav">
                        <li id="animalTaxon">
                            <a href="animalTaxon">
                                <span class="sidebar-mini-icon">AX</span>
                                <span class="sidebar-normal"> Animal Taxonomy </span>
                            </a>
                        </li>

                        <li id="bacteriaTaxon">
                            <a href="bacteriaTaxon">
                                <span class="sidebar-mini-icon">BX</span>
                                <span class="sidebar-normal"> Bacterium Taxonomy </span>
                            </a>
                        </li>

                        <li id="toxin">
                            <a href="toxin">
                                <span class="sidebar-mini-icon">T</span>
                                <span class="sidebar-normal"> Toxins </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li> -->
            <li id="animal">
                <a href="animal">
                    <i>
                        <img id="aImg" src="../assets/img/animal.png" height="28px" width="28px">
                    </i>
                    <p>Animal</p>
                </a>
            </li>
            <li id="bacteria">
                <a href="bacteria">
                    <i>
                        <img id="bImg" src="../assets/img/bacteria.png" height="28px" width="28px">
                    </i>
                    <p>Bacteria</p>
                </a>
            </li>
            <li id="upload">
                <a href="upload">
                    <i class="now-ui-icons education_agenda-bookmark"></i>
                    <p>Upload</p>
                </a>
            </li>
            <!-- <li id="disease">
                <a href="disease">
                    <i>
                        <img id="dImg" src="../assets/img/disease.png" height="28px" width="28px">
                    </i>
                    <p>Disease</p>
                </a>
            </li> -->
            <!-- <li id="prevention">
                <a href="prevention">
                    <i>
                        <img id="pImg" src="../assets/img/prevention.png" height="28px" width="28px">
                    </i>
                    <p>Prevention</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>
<script>



</script>