<div class="sidebar" data-color="blue">
    <div class="logo">
        &nbsp;
        <img width="240px" height="110px" src="../assets/img/zoodis.png">
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="../assets/img/profile.png" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <%
                        var html = '';
                        if(locals.staffData){
                            html ='<span><b class="caret"></b>'+ locals.staffData.firstName + ' ' + locals.staffData.lastName +'</span>';
                        }
                        %>
                    <%-html%>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li id="myProfile">
                            <a href="contri_user">
                                <span class="sidebar-mini-icon">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li id="notification">
                <a href="contri_Notification">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <span style="position: absolute; top:15px; right: 15px; z-index: 1;" class="badge badge-danger" id="">1</span>
                    <p>Notification</p>
                </a>
            </li>
            <li id="dashboard">
                <a href="contri_Dashboard">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="main">
                <a data-toggle="collapse" href="#maintenance">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                    <p>
                        Maintenance
                        <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse" id="maintenance">
                    <ul class="nav">
                        <li id="animalTaxon">
                            <a href="contri_AnimalTaxon">
                                <span class="sidebar-mini-icon">AX</span>
                                <span class="sidebar-normal"> Animal Taxonomy </span>
                            </a>
                        </li>

                        <li id="bacteriaTaxon">
                            <a href="contri_BacteriaTaxon">
                                <span class="sidebar-mini-icon">BX</span>
                                <span class="sidebar-normal"> Bacterium Taxonomy </span>
                            </a>
                        </li>

                        <li id="toxin">
                            <a href="contri_Toxin">
                                <span class="sidebar-mini-icon">T</span>
                                <span class="sidebar-normal"> Toxins </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="animal">
                <a href="contri_Animal">
                    <i>
                        <img id="aImg" src="../assets/img/animal.png" height="28px" width="28px">
                    </i>
                    <p>Animal</p>
                </a>
            </li>
            <li id="bacteria">
                <a href="contri_Bacteria">
                    <i>
                        <img id="bImg" src="../assets/img/bacteria.png" height="28px" width="28px">
                    </i>
                    <p>Bacteria</p>
                </a>
            </li>
            <li id="disease">
                <a href="contri_Disease">
                    <i>
                        <img id="dImg" src="../assets/img/disease.png" height="28px" width="28px">
                    </i>
                    <p>Disease</p>
                </a>
            </li>
            <li id="prevention">
                <a href="contri_Prevention">
                    <i>
                        <img id="pImg" src="../assets/img/prevention.png" height="28px" width="28px">
                    </i>
                    <p>Prevention</p>
                </a>
            </li>
        </ul>
    </div>
</div>