<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>BASILIO</h6>
                    <p>
                        Bacterial ASSEMBLAGES & Identity LIbrary Online was developed as a data portal rich in information
                        generated from published researches
                        around the globe, focusing on animal microbiota. The identity, isolation techniques, profiles,
                        chemotaxonomic characteristics
                        will be included in the presentation.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="microbiota">Microbiota</a></li>
                                <li><a href="about">About</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="researcher_animal">Animal</a></li>
                                <li><a href="researcher_bacteria">Bacteria</a></li>
                                <!-- <li><a href="researcher_disease">Disease</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <!-- <h6 class="mb-20">Bacterium</h6> -->
                    <ul class=" d-flex flex-wrap">
                        <li><img src="../assets/img/logo/ched.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/dtrg.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/chedkto12.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/pup.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/up_logo.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/msu.gif" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/delasalle_logo.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/bsu.png" width=90 height=90 alt=""></li>
                        <li><img src="../assets/img/logo/ceu.png" width=90 height=90 alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <a href='https://freehitcounters.org/'>FreeHitCounters.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=75ab138b545abfbf522cd7e6ce0b8855733a1b4d'></script>
                <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/556514/t/0"></script>
            </div>
        </div>
    </div>
</footer>

<script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../../assets/js/jquery-ui.js"></script>
<script src="../../assets/js/easing.min.js"></script>
<script src="../../assets/js/hoverIntent.js"></script>
<script src="../../assets/js/superfish.min.js"></script>
<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../assets/js/jquery.nice-select.min.js"></script>
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/mail-script.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/plugins/bootstrap-notify.js"></script>
<script src="../../assets/js/date.js"></script>
<script src="/assets/js/researcher/auth.js"></script>