<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                    <ul>
                        <li><a href="#"><span class="lnr lnr-user"></span></a></li>
                        <li><a href="#">Name</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-6 header-top-right">
                    <div class="header-social">
                        <a href="#">Login</i></a>
                        <a href="#">|</i></a>
                        <a href="#">Register</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="index">Home</a></li>
                    <li><a href="microbiota">Microbiota</a></li>
                    <li><a href="about">About</a></li>
                    <li class="menu-has-children"><a href="">Module</a>
                        <ul>
                            <li><a href="researcher_animal">Animal</a></li>
                            <li><a href="researcher_bacteria">Bacteria</a></li>
                            <li><a href="researcher_disease">Disease</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>