<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/contri_sidebar %>
        <div class="main-panel">
            <% include ../partials/navbar %>
            <div class="panel-header panel-header-sm">
            </div>

            <div class="content">
                <form id="bacteriaForm" action="/bacteria" method="POST" onsubmit="addBacteria(event)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title"> BACTERIA FORM</h4>
                                    <br>
                                    <h6 class="card-title">ANIMAL</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-label">
                                                <label>Animal Name</label>
                                                <select class="form-control" name="toAnimal" id="toSelectAnimal">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h6 class="card-title">Bacterium Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-label">
                                                <label>Species Name</label>
                                                <input class="form-control" name="strSpeciesName" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group has-label">
                                                <label>Genus Name</label>
                                                <input class="form-control" name="strGenusName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-label">
                                        <label>Tissue Specifity</label>
                                        <input class="form-control" name="strTissueSpecifity" type="text">
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h6 class="card-title">ISOLATION, SAMPLING AND ENVIRONMENTAL INFORMATION</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group has-label">
                                        <label>Sample Type</label>
                                        <input class="form-control" name="strSampleType" type="text">

                                        <label>Method of Isolation</label>
                                        <input class="form-control" name="strMethodOfIsolation" type="text">

                                        <label>Method of Identification</label>
                                        <input class="form-control" name="strMethodOfIdentification" type="text">

                                    </div>
                                </div>
                                <div class="card-footer" align="right">
                                    <button type="button" class="btn btn-warning" onclick="clearBacteria()">Clear</button>
                                    <button type="submit" class="btn btn-primary" id="toSubmitBacteria">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table" id="bacteriaTable">
                                            <thead class="text-primary">
                                                <th><small><b>BACTERIA</b></small></th>
                                                <th><small><b>ACTION</b></small></th>
                                                <th><small><b>STATUS</b></small></th>
                                            </thead>
                                            <tbody id="bacteriaList">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--View Modal-->
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="title title-up">BACTERIUM INFORMATION</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                            <h6 id="bacteriaName"></h6>

                            <div class="card-body">
                                <div class="form-group has-label">
                                    <h6 class="card-title">Bacterium Details</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="status"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Animal Name</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="animalName"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tissue Specifity</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="tissueName"></label>
                                        </div>
                                    </div><br>
                                    <h6 class="card-title">ISOLATION, SAMPLING AND ENVIRONMENTAL INFORMATION</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Sample Type</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="sampleName"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Method Of Isolation</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="isolationName"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Method Of Identification</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="identificationName"></label>
                                        </div>
                                    </div><br>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--   Core JS Files   -->
            <% include ../partials/core_js %>
            <script src="../assets/js/contri_js/bacteria.js"></script>
            <script>
                $(".navbarName").html("Bacteria");
                $("#bacteria").addClass("active");
                $("#bImg").attr("src","/assets/img/bacteriaactive.png");
            </script>
</body>

</html>