<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/contri_sidebar %>
        <div class="main-panel">
            <% include ../partials/contri_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"> ANIMAL TAXONOMIC CLASSIFICATION</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="animalTaxonTable">
                                        <thead class="text-primary">
                                            <th><small><b>GENUS</b></small></th>
                                            <th><small><b>SPECIES</b></small></th>
                                            <th><small><b>ACTION</b></small></th>
                                            <th><small><b>STATUS</b></small></th>
                                        </thead>
                                        <tbody id="animaltaxonTableList">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-button">
                                    <button type="button" class="btn btn-primary pull-right" data-toggle="collapse"
                                        href="#AddCollapse" role="button" aria-expanded="true" aria-controls="AddCollapse">Add</button>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="collapse" id="AddCollapse">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <form id="animalTaxonForm" method="POST" action="/contri_animalTaxon" onsubmit="addAnimalTaxon(event)">

                                    <div class="card-header ">
                                        <button type="button" class="close" aria-label="Close" data-toggle="collapse"
                                            href="#AddCollapse">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 class="card-title">Animal taxonomic Classification</h5>
                                    </div>

                                    <div class="card-body ">

                                        <div class="form-group has-label">
                                            <label>Phylum<star>*</star></label>
                                            <input class="form-control aPhylum" name="strPhylum" type="text" />

                                            <label>Class<star>*</star></label>
                                            <input class="form-control aClass" name="strClass" type="text" />

                                            <label>Order<star>*</star></label>
                                            <input class="form-control aOrder" name="strOrder" type="text" />

                                            <label>Family<star>*</star></label>
                                            <input class="form-control aFamily" name="strFamily" type="text" />

                                            <label>Genus<star>*</star></label>
                                            <input class="form-control aGenus" name="strGenus" type="text" />

                                            <label>Species</label>
                                            <input class="form-control aSpecies" name="strSpecies" type="text" />

                                        </div>
                                    </div>
                                    <div class="card-footer" align="right">
                                        <button type="button" class="btn btn-warning " onclick="clearAnimalTaxon(event)">Clear</button>
                                        <button type="submit" class="btn btn-primary ">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"><br>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLongTitle"><b>TAXONOMY CLASSIFICATION</b></h5>
                </div>
                <div class="modal-body">
                    <form id="editAnimalTaxonForm" action="/updateAnimalTaxon" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="form-group has-label">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>STATUS</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="status"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>PHYLUM</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="phylum"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>CLASS</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="classs"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>ORDER</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="order"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>FAMILY</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="family"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>GENUS</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="genus"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>SPECIES</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label id="species"></label>
                                            </div>
                                        </div><br>
                                        <div class="category form-category" id="name"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/contri_js/animal.js"></script>
    <script src="../../assets/js/contri_js/autocomplete.js"></script>
    <script>
        $(".navbarName").html("Maintenance / Animal Taxonomy");
        $("#main").addClass("active");
        $("#maintenance").addClass("show");
        $("#animalTaxon").addClass("active");
    </script>

</body>

</html>