<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/contri_sidebar %>
        <div class="main-panel">
            <% include ../partials/navbar %>
            <div class="panel-header panel-header-lg">
                <canvas id="bigDashboardChart"></canvas>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="statistics">
                                    <div class="info">
                                        <div class="icon icon-primary">
                                            <i class="now-ui-icons education_agenda-bookmark"></i>
                                        </div>
                                        <h6 class="info-title" id="journalCode"></h6>
                                        <h6 class="stats-title" id="journalName"></h6>
                                        <button id="finish" type="button" class="btn btn-success pull-right" onclick="finishedJournal()">Done</button>
                                        <a id="downloadJournal" href=""><button type="button" id="download" class="btn btn-warning pull-right"><i
                                                    class="now-ui-icons arrows-1_cloud-download-93"></i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../assets/js/contri_js/notification.js"></script>
    <script>
        $(".navbarName").html("Dasboard");
        $("#dashboard").addClass("active");
    </script>
</body>

</html>