<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/contri_sidebar %>
        <div class="main-panel">
            <% include ../partials/navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <small>
                                    <h4 class="card-title"> BACTERIA TOXINS</h4>
                                </small>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="toxinTable">
                                        <thead class="text-primary">
                                            <th><small><b>TOXINS</b></small></th>
                                            <th><small><b>ACTION</b></small></th>
                                            <th><small><b>STATUS</b></small></th>
                                        </thead>
                                        <tbody id="toxinList">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-button">
                                    <button type="button" class="btn btn-primary pull-right" data-toggle="collapse"
                                        href="#AddCollapse" role="button" aria-expanded="true" aria-controls="AddCollapse">Add</button>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="AddCollapse">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <form id="toxinForm" method="POST" action="/toxin" onsubmit="addToxin(event)">

                                    <div class="card-header ">
                                        <button type="button" class="close" aria-label="Close" data-toggle="collapse"
                                            href="#AddCollapse">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 class="card-title">Toxin</h5>
                                    </div>

                                    <div class="card-body ">

                                        <div class="form-group has-label">

                                            <label>Bacteria</label>
                                            <select class="form-control" name="selectBacteria" id="toSelectBacteria"></select>

                                            <label>Toxin Name</label>
                                            <input class="form-control" name="strToxinName" type="text" />

                                            <label>Structure Feature</label>
                                            <textarea class="form-control" name="strStructureFeature"></textarea>

                                            <label>Function</label>
                                            <textarea class="form-control" name="strFunction"></textarea>

                                        </div>
                                    </div>
                                    <div class="card-footer" align="right">
                                        <button type="button" class="btn btn-warning " onclick="clearToxin()">Clear</button>
                                        <button type="submit" class="btn btn-primary ">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--View Modal-->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6 class="title title-up">TOXIN INFORMATION</h6>
                </div>
                <div class="modal-body">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <label>STATUS</label>
                            </div>
                            <div class="col-md-3">
                                <label>:</label>
                            </div>
                            <div class="col-md-5">
                                <label id="status"></label>
                            </div>
                        </div>
                        <h6 id="viewToxinName"></h6>
                        <label>Structure Feature</label><br>
                        <label id="structureFeature"></label><br>
                        <label>Function</label><br>
                        <label id="function"></label>
                        <div class="category form-category" id="name"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../assets/js/contri_js/bacteria.js"></script>
    <script>
        $(".navbarName").html("Maintenance / Toxins");
        $("#main").addClass("active");
        $("#maintenance").addClass("show");
        $("#toxin").addClass("active");
    </script>
</body>
</html>