<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/contri_sidebar %>
        <div class="main-panel">
            <% include ../partials/contri_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <form enctype="multipart/form-data" onsubmit="addAnimal(event)" method="POST" action="#" id="animalForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header ">
                                    <h5 class="card-title">
                                        <b>ANIMAL FORM</b>
                                    </h5>
                                </div>

                                <div class="card-body ">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="../assets/img/image_placeholder.jpg" width="170" height="110" alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" class="animalAdd" name="contri_animalImg" />
                                            </span>
                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                                data-dismiss="fileinput">
                                                <i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>

                                    <div class="form-group has-label">
                                        <label>Common Name *</label>
                                        <input autocomplete="off" class="form-control animalAdd" name="strCommonName" type="text" />

                                        <label>Scientific Name *</label>
                                        <input class="form-control animalAdd searchAnimal" name="strScientificName"
                                            type="text" />
                                            
                                    </div>
                                </div>
                                <div class="card-footer" align="right">
                                    <button type="button" class="btn btn-warning" onclick="clearAnimal(event)">Clear</button>
                                    <button type="submit" class="btn btn-primary" id="toSubmitAnimal">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table" id="animalTable">
                                            <thead class="text-primary">
                                                <th><small><b>ANIMAL</b></small></th>
                                                <th><small><b>ACTION</b></small></th>
                                                <th><small><b>STATUS</b></small></th>
                                            </thead>
                                            <tbody id="animalList">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="title title-up">ANIMAL INFORMATION</h4>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="form-group has-label">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img width="300" height="200" src="" class="contri_animalPic" />
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="card-title">ANimal</h6>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <label id="status"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Animal Name</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <label id="animalName2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Scientific Name</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <label id="scientificName"></label>
                                                </div>
                                            </div><br>
                                            <div class="category form-category" id="name"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--   Core JS Files   -->
            <% include ../partials/core_js %>
            <script src="../assets/js/contri_js/animal.js"></script>
            <script>
                $(".navbarName").html("Animal");
                $("#animal").addClass("active");
                $("#aImg").attr("src","/assets/img/animalactive.png");
            </script>
</body>

</html>