<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../assets/img/zoo.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Zoonotic Disease Identification</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />

    <!--     Fonts and icons     -->
    <link href="../assets/css/font.css" rel="stylesheet" />
    <link href="../assets/css/all.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-dashboard.min69ea.css" rel="stylesheet" />
    <link href="../assets/js/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="blue">
            <div class="logo">
                &nbsp;<img width="240px" height="110px" src="../assets/img/zoodis.png">
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li>
                        <a href="notification">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Notifications</p>
                        </a>
                    </li>

                    <li>
                        <a href="dashboard">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="journal">
                            <i class="now-ui-icons education_agenda-bookmark"></i>
                            <p>Journal</p>
                        </a>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#tableList">
                            <i class="now-ui-icons files_paper"></i>
                            <p>
                                Table List
                                <b class="caret"></b>
                            </p>
                        </a>

                        <div class="collapse " id="tableList">
                            <ul class="nav">
                                <li>
                                    <a href="hostTable">
                                        <span class="sidebar-mini-icon">HT</span>
                                        <span class="sidebar-normal"> Hosts Table </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="diseaseTable">
                                        <span class="sidebar-mini-icon">D</span>
                                        <span class="sidebar-normal"> Disease Table </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#maintenance">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                            <p>
                                Maintenance
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse " id="maintenance">
                            <ul class="nav">
                                <li>
                                    <a href="animalTaxon">
                                        <span class="sidebar-mini-icon">AX</span>
                                        <span class="sidebar-normal"> Animal Taxonomy </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="bacteriaTaxon">
                                        <span class="sidebar-mini-icon">BX</span>
                                        <span class="sidebar-normal"> Bacterium Taxonomy </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="toxin">
                                        <span class="sidebar-mini-icon">T</span>
                                        <span class="sidebar-normal"> Toxins </span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="animal">
                            <i>
                                <img src="../assets/img/animal.png" height="28px" width="28px">
                            </i>
                            <p>Animal</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="bacteria">
                            <i>
                                <img src="../assets/img/bacteriaactive.png" height="28px" width="28px">
                            </i>
                            <p>Bacteria</p>
                        </a>
                    </li>
                    <li class>
                        <a href="disease">
                            <i>
                                <img src="../assets/img/disease.png" height="28px" width="28px">
                            </i>
                            <p>Disease</p>
                        </a>
                    </li>
                    <li>
                        <a href="prevention">
                            <i>
                                <img src="../assets/img/prevention.png" height="28px" width="28px">
                            </i>
                            <p>Prevention</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo"><h5>BACTERIA</h5></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="now-ui-icons media-1_button-power"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Some Actions</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/logout">Log-Out</a>
                                </div>
                            </li>
                        </ul>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>

            <div class="content">
                <form id="bacteriaForm" action="/bacteria" method="POST" onsubmit="addBacteria(event)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title"> BACTERIA FORM</h4>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="card-header ">
                                            <h6 class="card-title"> ANIMAL</h6>
                                        </div>

                                        <div class="card-body ">
                                            <label>Animal Name</label>
                                            <select class="form-control" name="toSelect" id="toSelectBacteria">
                                            </select>
                                        </div>

                                        <div class="card-header">
                                            <h6 class="card-title">Bacterium Details</h6>
                                        </div>

                                        <div class="card-body ">
                                            <div class="form-group has-label">
                                                <label>Species Name</label>
                                                <input class="form-control" name="strSpeciesName" type="text">

                                                <label>Genus Name</label>
                                                <input class="form-control" name="strGenusName" type="text">

                                                <label>Full Scientific Name</label>
                                                <input class="form-control" name="strScientificName" type="text" disabled>

                                                <label>Tissue Specifity</label>
                                                <input class="form-control" name="strTissueSpecifity" type="text">
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-md-6">
                                        <div class="card-header ">
                                            <h6 class="card-title">NAME AND TAXONOMIC CLASSIFICATION</h6>
                                        </div>
                                        <div class="card-body ">

                                            <div class="form-group has-label">
                                                <label>Phylum</label>
                                                <input class="form-control" name="strPhylum" type="text" disabled/>

                                                <label>Class</label>
                                                <input class="form-control" name="strClass" type="text" disabled/>

                                                <label>Order</label>
                                                <input class="form-control" name="strOrder" type="text" disabled/>

                                                <label>Family</label>
                                                <input class="form-control" name="strFamily" type="text" disabled/>

                                                <label>Genus</label>
                                                <input class="form-control" name="strGenus" type="text" disabled/>

                                                <label>Species</label>
                                                <input class="form-control" name="strSpecies" type="text" disabled/>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-header ">
                                            <div class="card-header">
                                                <h6 class="card-title">ISOLATION, SAMPLING AND ENVIRONMENTAL INFORMATION</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group has-label">
                                                    <label>Sample Type</label>
                                                    <input class="form-control" name="strSampleType" type="text">

                                                    <label>Method of Isolation</label>
                                                    <input class="form-control" name="strMethodOfIsolation" type="text">

                                                    <label>Method of Identification</label>
                                                    <input class="form-control" name="strMethodOfIdentification" type="text">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-header ">
                                            <h6 class="card-title">References</h6>
                                            <div class="form-group has-label">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Journal Number</label>
                                                        <select class="form-control" name="selectJournal" id="toSelectJournal"></select><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card-footer" align="right">
                                    <button type="button" class="btn btn-warning" onclick="clearBacteria()">Clear</button>
                                    <button type="submit" class="btn btn-primary" id="toSubmitBacteria">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <!--   Core JS Files   -->
                <script src="../assets/js/core/jquery.min.js"></script>
                <script src="../assets/js/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
                <script src="../assets/js/core/popper.min.js"></script>

                <script src="../assets/js/core/bootstrap.min.js"></script>
                <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
                <script src="../assets/js/plugins/moment.min.js"></script>

                <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
                <script src="../assets/js/plugins/bootstrap-switch.js"></script>

                <!--  Plugin for Sweet Alert -->
                <script src="../assets/js/plugins/sweetalert2.min.js"></script>

                <!-- Forms Validations Plugin -->
                <script src="../assets/js/plugins/jquery.validate.min.js"></script>

                <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
                <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>

                <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
                <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>

                <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
                <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>

                <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
                <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>

                <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
                <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>

                <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
                <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>

                <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
                <script src="../assets/js/plugins/fullcalendar.min.js"></script>

                <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
                <script src="../assets/js/plugins/jquery-jvectormap.js"></script>

                <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
                <script src="../assets/js/plugins/nouislider.min.js"></script>

                <!-- Place this tag in your head or just before your close body tag. -->
                <script async defer src="../assets/js/buttons.js"></script>

                <!-- Chart JS -->
                <script src="../assets/js/plugins/chartjs.min.js"></script>

                <!--  Notifications Plugin    -->
                <script src="../assets/js/plugins/bootstrap-notify.js"></script>

                <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
                <script src="../assets/js/now-ui-dashboard.min69ea.js?v=1.1.2" type="text/javascript"></script>
                <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
                <script src="../assets/demo/demo.js"></script>


                <!-- Sharrre libray -->
                <script src="../assets/demo/jquery.sharrre.js"></script>
                <script src="../assets/js/bacteria.js"></script>

                <script>
                    $(document).ready(function () {
                        $sidebar = $('.sidebar');
                        $sidebar_img_container = $sidebar.find('.sidebar-background');

                        $full_page = $('.full-page');

                        $sidebar_responsive = $('body > .navbar-collapse');
                        sidebar_mini_active = true;

                        window_width = $(window).width();

                        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                        var $btn = $(this);

                        // we simulate the window Resize so the charts will get updated in realtime.
                        var simulateWindowResize = setInterval(function () {
                            window.dispatchEvent(new Event('resize'));
                        }, 180);

                        // we stop the simulation of Window Resize after the animations are completed
                        setTimeout(function () {
                            clearInterval(simulateWindowResize);
                        }, 1000);
                    });
                </script>
</body>

</html>