<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../assets/img/zoo.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Zoonotic Disease Identification</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>

    <!--     Fonts and icons     -->
    <link href="../assets/css/font.css" rel="stylesheet" />
    <link href="../assets/css/all.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-dashboard.min69ea.css" rel="stylesheet" />
    <link href="../assets/js/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="wrapper ">

        <div class="sidebar" data-color="blue">
            <div class="logo">
                &nbsp;<img width="240px" height="110px" src="../assets/img/zoodis.png">
            </div>

            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="../assets/img/james.jpg" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                James Amos
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <span class="sidebar-mini-icon">MP</span>
                                        <span class="sidebar-normal">My Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="nav">
                    <li>
                        <a href="contri_Notification">
                            <i class="now-ui-icons design_app"></i>
                            <p>Notification</p>
                        </a>
                    </li>
                    <li>
                        <a href="contri_Dashboard">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a data-toggle="collapse" href="#maintenance" aria-expanded="true">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                            <p>
                                Maintenance
                                <b class="caret"></b>
                            </p>
                        </a>

                        <div class="collapse show" id="maintenance">
                            <ul class="nav">
                                <li>
                                    <a href="contri_AnimalTaxon">
                                        <span class="sidebar-mini-icon">AX</span>
                                        <span class="sidebar-normal"> Animal Taxonomy </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="contri_BacteriaTaxon">
                                        <span class="sidebar-mini-icon">BX</span>
                                        <span class="sidebar-normal"> Bacterium Taxonomy </span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="contri_Toxin">
                                        <span class="sidebar-mini-icon">T</span>
                                        <span class="sidebar-normal"> Bacteria Toxins </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="contri_Animal">
                            <i>
                                <img src="../assets/img/animal.png" height="28px" width="28px">
                            </i>
                            <p>Animal</p>
                        </a>
                    </li>
                    <li>
                        <a href="contri_Bacteria">
                            <i>
                                <img src="../assets/img/bacteria.png" height="28px" width="28px">
                            </i>
                            <p>Bacteria</p>
                        </a>
                    </li>
                    <li class>
                            <a href="contri_Disease">
                                <i>
                                    <img src="../assets/img/disease.png" height="28px" width="28px">
                                </i>
                                <p>Disease</p>
                            </a>
                    </li>
                    <li>
                        <a href="contri_Prevention">
                            <i>
                                <img src="../assets/img/prevention.png" height="28px" width="28px">
                            </i>
                            <p>Prevention</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>


        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo"><h5>Toxin</h5></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav">
                
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="http://example.com/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="now-ui-icons media-1_button-power"></i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Some Actions</span>
                                            </p>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/logout">Log-Out</a>
                                        </div>
                                    </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <small><h4 class="card-title"> BACTERIA TOXINS</h4></small>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="toxinTable">
                                        <thead class="text-primary">
                                            <th><small><b>TOXINS</b></small></th>
                                            <th><small><b>ACTION</b></small></th>
                                            <th><small><b>STATUS</b></small></th>
                                        </thead>
                                        <tbody id="toxinTableList">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-button">
                                    <button type="button" class="btn btn-primary pull-right" data-toggle="collapse" href="#AddCollapse" role="button" aria-expanded="true"
                                        aria-controls="AddCollapse">Add</button>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="AddCollapse">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <form id="toxinForm" method="POST" action="/toxin" onsubmit="addToxin(event)">

                                    <div class="card-header ">
                                        <button type="button" class="close"  aria-label="Close" data-toggle="collapse" href="#AddCollapse">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 class="card-title">Toxin</h5>
                                    </div>

                                    <div class="card-body ">

                                        <div class="form-group has-label">

                                            <label>Bacteria</label>
                                            <select class="form-control" name="selectBacteria" id="toSelectBacteria"></select>

                                            <label>Toxin Name</label>
                                            <input class="form-control" name="strToxinName" type="text" />

                                            <label>Structure Feature</label>
                                            <textarea class="form-control" name="strStructureFeature"></textarea>

                                            <label>Function</label>
                                            <textarea class="form-control" name="strFunction"></textarea>

                                        </div>
                                    </div>
                                    <div class="card-footer" align="right">
                                        <button type="button" class="btn btn-warning " onclick="clearToxin()">Clear</button>
                                        <button type="submit" class="btn btn-primary ">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--View Modal-->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6 class="title title-up">TOXIN INFORMATION</h6>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        
                    <div class="row">
                            <div class="col-md-4">
                                <label>STATUS</label>
                            </div>
                            <div class="col-md-3">
                                <label>:</label>
                            </div>
                            <div class="col-md-5">
                                <label id="status"></label>
                            </div>
                        </div>
                        <h6 id="viewToxinName"></h6>
                        <label>Structure Feature</label><br>
                        <label id = "structureFeature"></label><br>
                        <label>Function</label><br>
                        <label id = "function"></label>
                        <div class="category form-category" id="name"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>

    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/js/plugins/moment.min.js"></script>

    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js"></script>

    <!--  Plugin for Sweet Alert -->
    <script src="../assets/js/plugins/sweetalert2.min.js"></script>

    <!-- Forms Validations Plugin -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>

    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>

    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>

    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>

    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>

    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>

    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>

    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../assets/js/plugins/fullcalendar.min.js"></script>

    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="../assets/js/buttons.js"></script>

    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>

    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/now-ui-dashboard.min69ea.js?v=1.1.2" type="text/javascript"></script>

    <!-- Sharrre libray -->
    <script src="../assets/demo/jquery.sharrre.js"></script>
    <script src="../assets/js/contri_js/bacteria.js"></script>

    <script>
        $(document).ready(function () {
            $sidebar = $('.sidebar');
            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');
            sidebar_mini_active = true;

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            var $btn = $(this);
            // we simulate the window Resize so the charts will get updated in realtime.
            var simulateWindowResize = setInterval(function () {
                window.dispatchEvent(new Event('resize'));
            }, 180);

            // we stop the simulation of Window Resize after the animations are completed
            setTimeout(function () {
                clearInterval(simulateWindowResize);
            }, 1000);
        });
    </script>
</body>
</html>