<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						About Us
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a> 
					<span class="lnr lnr-arrow-right"></span> <a href="about">About Us</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start other-issue Area -->
	<section class="other-issue-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-9">
					<div class="title text-center">
						<h1 class="mb-10">Zoonotic Disease Identification</h1>
						<p>It is a data portal rich in information generated from published researchers around the world, focusing on animal
							microbiota.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-info.jpg" alt="">
						</div>
						<a href="#">
							<h4>Researchers</h4>
						</a>
						<p>
							It is designed to cater the needs of different microbiota researchers, such as: Students, Microbiologists, Bacteriologists,
							Veterinarians, Virologists, Scientists, and General Public with Zoonotic Infection Concerns.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-mission.jpg" alt="">
						</div>
						<a href="#">
							<h4>Our Mission</h4>
						</a>
						<p>
							Our Mission at ZooDIS is to create a one-stop shop of knowledge regarding zoonotic diseases, its causes, and its preventions.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-plan.jpg" alt="">
						</div>
						<a href="#">
							<h4>Our Plan</h4>
						</a>
						<p>
							ZooDIS aims to provide a user-friendly environment where they can easily access information about animals, bacteria, and
							diseases.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-vision.jpg" alt="">
						</div>
						<a href="#">
							<h4>Our Vision</h4>
						</a>
						<p>
							The ZooDIS vision is to have a population equipped with proper resources to identify the possible zoonotic infections they
							may acquire.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End other-issue Area -->

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
</body>

</html>