<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="../assets/img/zoo.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Zoonotic Disease Identification System</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="../../assets/css/linearicons.css">
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../../assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css">
	<link rel="stylesheet" href="../../assets/css/nice-select.css">
	<link rel="stylesheet" href="../../assets/css/animate.min.css">
	<link rel="stylesheet" href="../../assets/css/owl.carousel.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
	<header id="header">
		<div class="header-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-6 col-6 header-top-left">
						<ul>
							<li><a href="#"><span class="lnr lnr-user"></span></a></li>
							<li><a href="#">Name</a></li>
						</ul>
					</div>
					<div class="col-lg-6 col-sm-6 col-6 header-top-right">
						<div class="header-social">
							<a href="#">Login</i></a>
							<a href="#">|</i></a>
							<a href="#">Register</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="index">Home</a></li>
						<li><a href="microbiota">Microbiota</a></li>
						<li><a href="about">About</a></li>
						<li class="menu-has-children"><a href="">Module</a>
							<ul>
								<li><a href="researcher_animal">Animal</a></li>
								<li><a href="researcher_bacteria">Bacteria</a></li>
								<li><a href="researcher_disease">Disease</a></li>
							</ul>
						</li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header -->


	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						About Us
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about">
							About Us</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start other-issue Area -->
	<section class="other-issue-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-9">
					<div class="title text-center">
						<h1 class="mb-10">Zoonotic Disease Identification</h1>
						<p>It is a data portal rich in information generated from published researchers around the world, focusing on animal
							microbiota.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-info.jpg" alt="">
						</div>
						<a href="#">
							<h4>Researchers</h4>
						</a>
						<p>
							It is designed to cater the needs of different microbiota researchers, such as: Students, Microbiologists, Bacteriologists,
							Veterinarians, Virologists, Scientists, and General Public with Zoonotic Infection Concerns.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-mission.jpg" alt="">
						</div>
						<a href="#">
							<h4>Our Mission</h4>
						</a>
						<p>
							Our Mission at ZooDIS is to create a one-stop shop of knowledge regarding zoonotic diseases, its causes, and its preventions.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-plan.jpg" alt="">
						</div>
						<a href="#">
							<h4>Our Plan</h4>
						</a>
						<p>
							ZooDIS aims to provide a user-friendly environment where they can easily access information about animals, bacteria, and
							diseases.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-other-issue">
						<div class="thumb">
							<img class="img-fluid" src="../../assets/img/about-vision.jpg" alt="">
						</div>
						<a href="#">
							<h4>Our Vision</h4>
						</a>
						<p>
							The ZooDIS vision is to have a population equipped with proper resources to identify the possible zoonotic infections they
							may acquire.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End other-issue Area -->


	<!-- Start testimonial Area -->
	<section class="testimonial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Testimonial from our Clients</h1>
						<p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial">
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							<img class="img-fluid" src="img/elements/user1.png" alt="">
						</div>
						<div class="desc">
							<p>
								Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,
								the bigger the payoff you.
							</p>
							<h4>Harriet Maxwell</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							<img class="img-fluid" src="img/elements/user2.png" alt="">
						</div>
						<div class="desc">
							<p>
								A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes.
								However.
							</p>
							<h4>Carolyn Craig</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							<img class="img-fluid" src="img/elements/user1.png" alt="">
						</div>
						<div class="desc">
							<p>
								Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,
								the bigger the payoff you.
							</p>
							<h4>Harriet Maxwell</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							<img class="img-fluid" src="img/elements/user2.png" alt="">
						</div>
						<div class="desc">
							<p>
								A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes.
								However.
							</p>
							<h4>Carolyn Craig</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							<img class="img-fluid" src="img/elements/user1.png" alt="">
						</div>
						<div class="desc">
							<p>
								Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,
								the bigger the payoff you.
							</p>
							<h4>Harriet Maxwell</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="thumb">
							<img class="img-fluid" src="img/elements/user2.png" alt="">
						</div>
						<div class="desc">
							<p>
								A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes.
								However.
							</p>
							<h4>Carolyn Craig</h4>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testimonial Area -->

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
</body>

</html>