<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="../assets/img/zoo.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Zoonotic Disease Identification</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--CSS============================================= -->
	<link rel="stylesheet" href="../../assets/css/linearicons.css">
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../../assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css">
	<link rel="stylesheet" href="../../assets/css/nice-select.css">
	<link rel="stylesheet" href="../../assets/css/animate.min.css">
	<link rel="stylesheet" href="../../assets/css/owl.carousel.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
	<header id="header">
		<div class="header-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-6 col-6 header-top-left">
						<ul>
							<li><a href="#"><span class="lnr lnr-user"></span></a></li>
							<li><a href="#">Name</a></li>
						</ul>
					</div>
					<div class="col-lg-6 col-sm-6 col-6 header-top-right">
						<div class="header-social">
							<a href="#">Login</i></a>
							<a href="#">|</i></a>
							<a href="#">Register</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="index">Home</a></li>
						<li><a href="packages.html">Microbiota</a></li>
						<li><a href="about">About</a></li>
						<li class="menu-has-children"><a href="">Module</a>
							<ul>
								<li><a href="blog-home.html">Animal</a></li>
								<li><a href="blog-single.html">Bacteria</a></li>
								<li><a href="blog-single.html">Disease</a></li>
							</ul>
						</li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header -->

	<!-- start banner Area -->
	<section class="relative about-banner">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Collaborate with Us!
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="contact.html">
						Contact Us</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start contact-page Area -->
	<section class="contact-page-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<form class="form-area contact-form" id="myForm" method="post">
						<h2>Journal Form</h2><br>
						<div class="row">
							<div class="col-lg-12 form-group">
								<input name="name" placeholder="Journal Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
								 class="common-input mb-20 form-control" required="" type="text">

								<input name="email" placeholder="DOI" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
								 onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

								<input name="subject" placeholder="Published Year" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'"
								 class="common-input mb-20 form-control" required="" type="text">
								 
								 <div class="form-group form-file-upload form-file-simple">
									<input type="text" name="inputfile" class="form-control inputFileVisible" placeholder="Select a File">
									<input type="file" name="myfile" class="inputFileHidden" style="z-index: -1;">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="alert-msg" style="text-align: left;"></div>
								<button class="genric-btn primary" style="float: right;">Upload</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End contact-page Area -->

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
</body>

</html>