<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- #header -->
	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div><br><br>
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-left">
					<h6 class="text-white">Zoonotic Disease Identification</h6>
					<h1 class="text-white">ZooDis</h1>
					<p class="text-white">
						Zoonotic Disease Identification System was developed as a data portal rich in information generated from published researches
						around the globe, focusing on animal microbiota. The identity, isolation techniques, profiles, chemotaxonomic characteristics
						will be included in the presentation.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 banner-right">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="animal-tab" data-toggle="tab" href="#animal" role="tab" aria-controls="animal" aria-selected="true">Animal</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" id="bacteria-tab" data-toggle="tab" href="#bacteria" role="tab" aria-controls="bacteria" aria-selected="false">Bacteria</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="disease-tab" data-toggle="tab" href="#disease" role="tab" aria-controls="disease" aria-selected="false">Disease</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane" id="animal" role="tabpanel" aria-labelledby="animal-tab">
							<form class="form-wrap" method="POST" action="/researcher_animal" id="searchAnimal">
								<p>Access information about animals, and their characteristics.</p><br>
								<input type="text" class="form-control" name="animalName" placeholder="Animal Name">
								<div class="animalNotif"></div>
								<button type="submit" class="genric-btn primary">Search Animal&nbsp;&nbsp;<i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="tab-pane show active" id="bacteria" role="tabpanel" aria-labelledby="bacteria-tab">
							<form class="form-wrap" method="POST" id="searchBacteria">
								<p>View bacteria details such as their taxonomic classification and their physiological characteristics.</p><br>
								<input type="text" class="form-control" name="bacteriaScientificName" placeholder="Scientific Name">
								<div class="bacteriaNotif"></div>
								<button type="button" onclick="searchBacteria()" class="genric-btn primary">Search Bacteria&nbsp;&nbsp;<i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="tab-pane" id="disease" role="tabpanel" aria-labelledby="disease-tab">
							<form class="form-wrap" method="POST" action="/researcher_disease" id="searchDisease"> 
								<p>Access disease information together with its causes, its symptoms, and preventions.</p>
								<input type="text" class="form-control" name="diseaseName" placeholder="Disease Name">
								<div class="diseaseNotif"></div>
								<button type="submit" class="genric-btn primary">Search Disease&nbsp;&nbsp;<i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start popular-destination Area -->
	<section class="popular-destination-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">TOP HARMFUL ANIMALS</h1>
						<p>Pathogenic bacteria are bacteria that causes diseases to humans. The list below consists of the animals which produces the most number of pathogenic bacteria.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="single-destination relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>
							<img class="img-fluid" src="../../assets/image_upload/054fa206c054bcf.jpeg" alt="">
						</div>
						<div class="desc">
							<a href="#" class="price-btn">
							<h4 class="li">Chicken</h4>
							<p class="text-white">3 Bacteria</p></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-destination relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>
							<img class="img-fluid" src="../../assets/image_upload/3da2aa7e8694272.jpeg" alt="">
						</div>
						<div class="desc">
							<a href="#" class="price-btn">
							<h4 class="li">Goat</h4>
							<p class="text-white">2 Bacteria</p></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-destination relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>
							<img class="img-fluid" src="../../assets/image_upload/0e16b3e97a8559c.jpeg" alt="">
						</div>
						<div class="desc">
							<a href="#" class="price-btn">
							<h4 class="li">Elephant</h4>
							<p class="text-white">5 Bacteria</p></a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<center><a href="" class="genric-btn default" style="float: right;">View More&nbsp;&nbsp;<span class="lnr lnr-chevron-right-circle"></span></a></center>
		</div>
	</section>
	<!-- End popular-destination Area -->
	<!-- Start testimonial Area -->
	<section class="testimonial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">TOP HARMFUL BACTERIA</h1>
						<p>The list below covers the bacteria with the most range of diseases they can produce. All of of these pathogenic bacteria present the most zoonotic threat to humans.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial">
					<div class="single-testimonial item d-flex flex-row">
						<div class="desc">
							<h4>Clostridioides difficile</h4>
							<p>
								Animal: Chicken
							</p>
							<!-- <div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div> -->
						</div>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<div class="desc">
							<h4>Mycobacterium tuberculosis</h4>
							<p>
								Animal: Asian Elephant
							</p>
							<!-- <div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testimonial Area -->

	<!-- Start home-about Area -->
	<!-- <section class="home-about-area">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-end">
				<div class="col-lg-6 col-md-12 home-about-left">
					<h1>
						Did not find your Package? <br> Feel free to ask us. <br> We‘ll make it for you
					</h1>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the
						workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior
						is often laughed.
					</p>
					<a href="#" class="primary-btn text-uppercase">request custom price</a>
				</div>
				<div class="col-lg-6 col-md-12 home-about-right no-padding">
					<img class="img-fluid" src="../../assets/img/about-img.jpg" alt="">
				</div>
			</div>
		</div>
	</section> -->
	<!-- End home-about Area -->

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
	<script src="../../assets/js/researcher/animalSearch.js"></script>
	<script src="../../assets/js/researcher/diseaseSearch.js"></script>
</body>

</html>