<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- #header -->
	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div><br><br>
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-left">
					<h6 class="text-white">Bacterial ASSEMBLAGES & Identity LIbrary Online</h6>
					<h1 class="text-white">BASILIO</h1>
					<p class="text-white">
						Bacterial ASSEMBLAGES & Identity LIbrary Online was developed as a data portal rich in information generated from
						published researches
						around the globe, focusing on animal microbiota. The identity, isolation techniques, profiles, chemotaxonomic
						characteristics
						will be included in the presentation.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 banner-right">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="animal-tab" data-toggle="tab" href="#animal" role="tab" aria-controls="animal"
							 aria-selected="true" onclick="wordCloud('Animal')">Animal</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="bacteria-tab" data-toggle="tab" href="#bacteria" role="tab" aria-controls="bacteria"
							 aria-selected="false" onclick="wordCloud('Bacteria')">Bacteria</a>
						</li>
						<!-- <li class="nav-item">
							<a class="nav-link" id="disease-tab" data-toggle="tab" href="#disease" role="tab" aria-controls="disease"
							 aria-selected="false">Disease</a>
						</li> -->
					</ul>
					<div class="tab-content" id="myTabContent">
						<div id="word-cloud" style="height: 300px;width: 350px;  border: .5px solid #eee"></div>
						<div class="tab-pane show active" id="animal" role="tabpanel" aria-labelledby="animal-tab">
							<form class="form-wrap" method="POST" action="/researcher_animal" id="searchAnimal">
								<p>Access information about animals, and their characteristics.</p><br>
								<input type="text" class="form-control" name="animalName" placeholder="Animal Name">
								<div class="animalNotif"></div>
								<button type="submit" class="genric-btn primary">Search Animal&nbsp;&nbsp;<i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="tab-pane" id="bacteria" role="tabpanel" aria-labelledby="bacteria-tab">
							<form class="form-wrap" method="POST" action="/researcher_bacteria" id="searchBacteria">
								<p>View bacteria details such as their taxonomic classification and their physiological characteristics.</p><br>
								<input type="text" class="form-control" name="bacteriaScientificName" placeholder="Scientific Name">
								<div class="bacteriaNotif"></div>
								<button type="submit" class="genric-btn primary">Search Bacteria&nbsp;&nbsp;<i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="tab-pane" id="disease" role="tabpanel" aria-labelledby="disease-tab">
							<form class="form-wrap" method="POST" action="/researcher_disease" id="searchDisease">
								<p>Access disease information together with its causes, its symptoms, and preventions.</p>
								<input type="text" class="form-control" name="diseaseName" placeholder="Disease Name">
								<div class="diseaseNotif"></div>
								<button type="submit" class="genric-btn primary">Search Disease&nbsp;&nbsp;<i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start popular-destination Area -->
	<section class="popular-destination-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">TOP HARMFUL ANIMALS</h1>
						<p>Pathogenic bacteria are bacteria that causes diseases to humans. The list below consists of the animals which
							produces the most number of pathogenic bacteria.</p>
					</div>
				</div>
			</div>
			<div class="animalQuery"></div>
			<br>
			<center><a href="researcher_animal" class="genric-btn default" style="float: right;">View More&nbsp;&nbsp;<span
					 class="lnr lnr-chevron-right-circle"></span></a></center>
		</div>
	</section>
	<!-- End popular-destination Area -->
	<section class="testimonial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">BACTERIA</h1>
						<p>Included below is the list of pathogenic and potentially pathogenic bacteria</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial">
					<div class="single-testimonial item d-flex flex-row">
						<center>
							<div class="desc">
								<div class="pathogenic"></div>
								<span class="badge badge-danger">Pathogenic Bacteria</span><br><br>
								<p>Pathogenic bacteria are bacteria that can cause infectious diseases in humans</p>	
							</div>
						</center>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<center>
							<div class="desc">
								<div class="notpathogenic"></div>
								<span class="badge badge-warning">Potentially Pathogenic Bacteria</span><br><br>
								<p>Potentially Pathogenic bacteria is the potential disease-causing capacity of a bacteria.</p>
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Start testimonial Area -->
	<!-- End testimonial Area -->

	<section class="testimonial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">TOP HARMFUL BACTERIA</h1>
						<p>The list below covers the bacteria with the most range of diseases they can produce. All of of these
							pathogenic bacteria present the most zoonotic threat to humans.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial">
					<div class="single-testimonial item d-flex flex-row">
						<center>
							<div class="desc">
								<div class="count"></div>
								<label>Toxins</label>
								<div class="bacName"></div>
								<div class="human"></div>
							</div>
						</center>
					</div>
					<div class="single-testimonial item d-flex flex-row">
						<center>
							<div class="desc">
								<div class="count1"></div>
								<label>Toxins</label>
								<div class="bacName1"></div>
								<div class="human1"></div>
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
	<script src="../../assets/js/researcher/query.js"></script>
	<script src="../../assets/js/researcher/animalSearch.js"></script>
	<script src="../../assets/js/researcher/bacteriaSearch.js"></script>
</body>

</html>