<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Disease
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="researcher_disease">Disease</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start top-category-widget Area -->
	<section class="post-content-area" id="diseaseSearch">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="menu-content pb-70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 posts-list">
					<div class="row single-post">
						<div class="col-md-8">
							<a class="posts-title" href="blog-single.html">
								<h3>CLOSTRIDIUM DIFFICILE INFECTION </h3>
							</a>
							<p class="excert">
								Clostridium difficile infection is spread by bacterial spores found within feces. Surfaces may become
								contaminated with the spores with further spread occurring via the hands of healthcare workers. Diagnosis is by
								stool culture or testing for the bacteria's DNA or toxins known as Clostridium difficile toxin A and
								Clostridium difficile toxin B.
							</p><br>
							<h4>Symptoms : </h4>
							<ul class="tags">
								<li class="li">Diarrhea</li>
								<li class="li">Fever</li>
								<li class="li">Abdominal pain</li>
							</ul><br>
							<h4>Prevention : </h4>
							<ul class="tags">
								<li class="li">Wash hands regularly and thoroughly.</li>
								<li class="li">Surfaces that may have come into contact with the bacteria or spores, such as toilets, the floor
									around toilets, bedpans and beds, should also be cleaned thoroughly with water and a cleaning product
									containing bleach.</li>
								<li class="li">People who are infected with C. difficile should have their own room and toilet facilities to
									avoid passing the infection onto others.</li>
							</ul>
						</div>
						<div class="col-md-4 sidebar-widgets">
							<div class="widget-wrap">
								<div class="single-sidebar-widget tag-cloud-widget">
									<h4 class="tagcloud-title">Animal Host/s</h4>
									<div class="single-post-list d-flex flex-row align-items-center">
										<div class="thumb">
											<img class="img-fluid" src="../../assets/img/blog/pp1.jpg" alt="" height="90px" width="90px">
										</div>&nbsp;&nbsp;&nbsp;
										<div class="details">
											<br><a href="blog-single.html">
												<h6>Cow</h6>
											</a>
											<p>It produces 5 bacteria.</p>
										</div>
									</div><br>
								</div>
							</div><br>
							<div class="widget-wrap">
								<div class="single-sidebar-widget tag-cloud-widget" id="bacteria">
									<h4 class="tagcloud-title">Bacteria</h4>
									<ul>
										<%
									var bacTags = "";
									if(locals.bacteria){
										bacteria.forEach((element, index) => {
											bacTags += "<li><a href='#'>" + element.bacteriumScientificName + "</a></li>";
										});
									}
								%>
										<%-bacTags%>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="noResults" class="post-content-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="menu-content pb-70"><br><br>
							<h4>
							<b>No results Found &nbsp; <span class="lnr lnr-sad"></span></b></h4>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section class="other-issue-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-12">
					<h4> Disease List : </h4><br>
					<div class="row">
						<div class="col-md-5">
							<ul class="tags">
								<li class="li">Campylobacteriosis</li>
								<li class="li">Capnocytophaga canimorsus Infection</li>
								<li class="li">Clostridium difficile Infection</li>
								<li class="li">Leptospirosis</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
	<script src="../../assets/js/researcher/diseaseSearch.js"></script>
</body>

</html>