<!DOCTYPE html>
<html lang="en">
<head><% include ../partials/head %></head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm">
            </div>

            <div class="content">
                <form id="bacteriaForm" action="/bacteria" method="POST" onsubmit="addBacteria(event)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title"> BACTERIA FORM</h4>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="card-header ">
                                            <h6 class="card-title"> ANIMAL</h6>
                                        </div>

                                        <div class="card-body ">
                                            <label>Animal Name</label>
                                            <select class="form-control" name="toSelect" id="toSelectBacteria">
                                            </select>
                                        </div>

                                        <div class="card-header">
                                            <h6 class="card-title">Bacterium Details</h6>
                                        </div>

                                        <div class="card-body ">
                                            <div class="form-group has-label">
                                                <label>Species Name</label>
                                                <input class="form-control" name="strSpeciesName" type="text">

                                                <label>Genus Name</label>
                                                <input class="form-control" name="strGenusName" type="text">

                                                <label>Full Scientific Name</label>
                                                <input class="form-control" name="strScientificName" type="text" disabled>

                                                <label>Tissue Specifity</label>
                                                <input autocomplete="off" class="form-control" name="strTissueSpecifity" type="text">
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-md-6">
                                        <div class="card-header ">
                                            <h6 class="card-title">NAME AND TAXONOMIC CLASSIFICATION</h6>
                                        </div>
                                        <div class="card-body ">

                                            <div class="form-group has-label">
                                                <label>Phylum</label>
                                                <input class="form-control" name="strPhylum" type="text" disabled/>

                                                <label>Class</label>
                                                <input class="form-control" name="strClass" type="text" disabled/>

                                                <label>Order</label>
                                                <input class="form-control" name="strOrder" type="text" disabled/>

                                                <label>Family</label>
                                                <input class="form-control" name="strFamily" type="text" disabled/>

                                                <label>Genus</label>
                                                <input class="form-control" name="strGenus" type="text" disabled/>

                                                <label>Species</label>
                                                <input class="form-control" name="strSpecies" type="text" disabled/>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-header ">
                                            <div class="card-header">
                                                <h6 class="card-title">ISOLATION, SAMPLING AND ENVIRONMENTAL INFORMATION</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group has-label">
                                                    <label>Sample Type</label>
                                                    <input autocomplete="off" class="form-control" name="strSampleType" type="text">

                                                    <label>Method of Isolation</label>
                                                    <input autocomplete="off" class="form-control" name="strMethodOfIsolation" type="text">

                                                    <label>Method of Identification</label>
                                                    <input autocomplete="off" class="form-control" name="strMethodOfIdentification" type="text">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-header ">
                                            <h6 class="card-title">References</h6>
                                            <div class="form-group has-label">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Journal Number</label>
                                                        <select class="form-control" name="selectJournal" id="toSelectJournal"></select><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card-footer" align="right">
                                    <button type="button" class="btn btn-warning" onclick="clearBacteria()">Clear</button>
                                    <button type="submit" class="btn btn-primary" id="toSubmitBacteria">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addHost">
                    Launch demo modal
                  </button>
                  
                <div class="modal fade" id="addHost" tabindex="-1" role="dialog" aria-labelledby="addHost" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="title title-up">Host of Bacteria</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form id="hostForm" method="POST">
                                <div class="form-group has-label">
                                    <label>Bacteria Name</label>
                                    <select class="form-control" name="toBacteria" id="toModalSelectB"></select>

                                    <label>Animal Name</label>
                                    <select class="form-control" name="toModal" id="toModalBacteria"></select>
                                </div>
                            </form>
                        </div>
                        <div class="for-footer">
                            <div align="right">
                                <button type="button" class="btn btn-warning" onclick="clearBacteria()" data-dismiss="modal">Approve</button>
                                <button type="button" class="btn btn-primary" onclick="addHost()">Add</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                <!--   Core JS Files   -->
                <% include ../partials/core_js %>
                <script src="../../assets/js/admin/bacteria.js"></script>
                <script>
                    $(".navbarName").html("Bacteria");
                    $("#bacteria").addClass("active");
                    $("#bImg").attr("src","/assets/img/bacteriaactive.png");
                </script>
</body>

</html>