<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Disease Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="diseaseTable">
                                        <thead class="text-primary">
                                            <th>
                                                <small>
                                                    <b>DISEASE</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>DESCRIPTION</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>ACTION</b>
                                                </small>
                                            </th>
                                        </thead>
                                        <tbody id="diseaseTableList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Prevention Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="preventionTable">
                                        <thead class="text-primary">
                                            <th>
                                                <small>
                                                    <b>DISEASE</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>ACTION</b>
                                                </small>
                                            </th>
                                        </thead>
                                        <tbody id="preventionTableList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content for-scroll">
                        <div class="modal-header">
                            <h4 class="title title-up">Disease</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body body-scroll">
                            <form id="editDiseaseForm" action="/updateDisease" method="POST">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <div class="form-group has-label">

                                                <label class="modalLabel">Disease Name</label>
                                                <input class="form-control" name="modalName" type="text" />
                                                
                                                <label class="modalLabel">Body Site</label>
                                                <input class="form-control" name="modalSite" type="text" />

                                                <label class="modalLabel">Disease Description</label>
                                                <textarea class="form-control" name="modalDesc"></textarea>

                                                <div class="row">
                                                    <div class="col-sm-10"><br>
                                                        <label class="modalLabel">Symptoms</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button type='button' onclick="addFieldEdit()" rel='tooltip' class='btn btn-primary btn-icon btn-sm add btnPosition'>+</button>
                                                    </div>
                                                </div>
                                                <div id="modalSymptoms">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="for-footer">
                            <div align="right">
                                <button type="button" class="btn btn-primary" onclick="updateDisease()">Save changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--View Modal-->
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="title title-up">DISEASE INFORMATION</h4>
                        </div>
                        <div class="modal-body">
                            <h6 id="viewDiseaseName"></h6>
                            <p id="viewSite"></p>
                            <p id="viewDiseaseDesc"></p>

                            <label><b>Symptoms</b></label>
                            <div id="viewSymptoms"></div>

                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content for-scroll">
                    <div class="modal-header">
                        <h4 class="title title-up">Prevention</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body body-scroll">
                        <form id="editPreventionForm" action="/updatePrevention" method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <div class="form-group has-label">
                                            <label class="modalLabel">Disease Name</label>
                                            <select class="form-control" name="selectDisease" id="toSelectDisease"></select>

                                            <div class="row">
                                                <div class="col-sm-10"><br>
                                                    <label class="modalLabel">Prevention</label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type='button' onclick="addFieldEdit2()" rel='tooltip' class='btn btn-primary btn-icon btn-sm add btnPosition'>+</button>
                                                </div>
                                            </div>

                                            <div id="modalPrevention">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="for-footer">
                        <div align="right">
                            <button type="button" class="btn btn-primary" onclick="updatePrevention()">Save changes</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--View Modal-->
        <div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="title title-up">PREVENTION INFORMATION</h4>
                    </div>
                    <div class="modal-body">
                        <h6 id="viewPreventionName"></h6>

                        <label><b>Prevention</b></label>
                        <div id="viewPrevention"></div>

                        <div class="row">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/disease.js"></script>
    <script src="../../assets/js/admin/prevention.js"></script>
    <script>
        $(".navbarName").html("Table List / Disease");
        $("#list").addClass("active");
        $("#tableList").addClass("show");
        $("#dTable").addClass("active");
    </script>

</body>

</html>