<!DOCTYPE html>
<html lang="en">
<head><% include ../partials/head %></head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <form onsubmit="addDisease(event)" id="diseaseForm" method="POST">
                                <div class="card-header">
                                    <h5 class="card-title">Disease Form</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-group has-label">

                                        <div class="row">
                                            <div class="col-md-7">
                                                    <label>Disease Name</label>
                                                    <input autocomplete="off" class="form-control" name="strDiseaseName" type="text" />
                                                    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label>Body Site </label>
                                                <input autocomplete="off" class="form-control" name="bodySite" type="text" />

                                                <label>Disease Description</label>
                                                <textarea class="form-control" name="strDiseaseDesc" type="text"></textarea>
                                            </div>
                                        </div>
                                        <div class="symptomsTxt">
                                            <div class="row"><br><br><br><br>
                                                <div class="col-md-9">
                                                    <label>Symptoms</label>
                                                    <input autocomplete="off" class="form-control" name="strSymptoms" type="text" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type='button' onclick="addField()" rel='tooltip' class='btn btn-primary btn-icon btn-sm add btnPosition'>+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="card-title">References</h6>
                                        <div class="form-group has-label">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Journal Number</label>
                                                    <select class="form-control" name="selectJournal" id="toSelectJournal"></select><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-button">
                                            <button type="submit" class="btn btn-primary pull-right">Add</button>
                                            <button type="button" onclick="clearDisease()" class="btn btn-warning pull-right">Clear</button>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/disease.js"></script>
    <script>
        $(".navbarName").html("Disease");
        $("#disease").addClass("active");
        $("#dImg").attr("src","/assets/img/diseaseactive.png");
    </script>
</body>

</html>