<!DOCTYPE html>
<html lang="en">
<head><% include ../partials/head %></head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <br>
                <br>

                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="card card-plain card-subcategories">
                            <div class="card-body ">
                                <!--color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"-->
                                <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                                            <i>
                                                <img src="../assets/img/tab_animal.png" height="40px" width="40px">
                                            </i>
                                            Animal
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active show" data-toggle="tab" href="#link8" role="tablist">
                                            <i>
                                                <img src="../assets/img/tab_bacteria.png" height="40px" width="40px">
                                            </i>
                                            Bacteria
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-space tab-subcategories">
                                    <div class="tab-pane" id="link7">
                                        <div class="card-header">
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" id="animalTable">
                                                <thead class="text-primary">
                                                    <th><small><b>ANIMAL</b></small></th>
                                                    <th><small><b>SCIENTIFIC NAME</b></small></th>
                                                    <th><small><b>BODY SITE</b></small></th>
                                                    <th><small><b>ACTION</b></small></th>
                                                </thead>
                                                <tbody id="animalList">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane active show" id="link8">
                                        <div class="card-header">
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" id="bacteriaTable">
                                                <thead class="text-primary">
                                                    <th><small><b>ANIMAL</b></small></th>
                                                    <th><small><b>BACTERIA</b></small></th>
                                                    <th><small><b>TISSUE</b></small></th>
                                                    <th><small><b>TYPE</b></small></th>
                                                    <th><small><b>ISOLATION</b></small></th>
                                                    <th><small><b>IDENTIFICATION</b></small></th>
                                                    <th><small><b>ACTION</b></small></th>
                                                </thead>
                                                <tbody id="bacteriaList">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content for-scroll">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body body-scroll">
                            <form id="editBacteriaForm" action="" method="POST">
                                <h5 class="card-title"><b>BACTERIA FORM</b></h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6 class="card-title"> ANIMAL</h6>
                                                <div class="card-body ">
                                                    <label>Animal Name</label>
                                                    <select class="form-control" name="toSelect" id="toSelectBacteria">
                                                    </select>
                                                </div>
                                                <h6 class="card-title">Bacterium Details</h6>
                                                <div class="card-body ">
                                                    <div class="form-group has-label">
                                                        <label>Species Name</label>
                                                        <input class="form-control" name="modalSpeciesName" type="text">

                                                        <label>Genus Name</label>
                                                        <input class="form-control" name="modalGenusName" type="text">

                                                        <label>Full Scientific Name</label>
                                                        <input class="form-control" name="modalScientificName" type="text" disabled>

                                                        <label>Tissue Specifity</label>
                                                        <input class="form-control" name="modalTissue" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class="card-title">NAME AND TAXONOMIC CLASSIFICATION</h6>
                                                <div class="card-body ">
                                                    <div class="form-group has-label">
                                                        <label>Phylum</label>
                                                        <input class="form-control" name="modalPhylum" type="text" disabled/>

                                                        <label>Class</label>
                                                        <input class="form-control" name="modalClass" type="text" disabled/>

                                                        <label>Order</label>
                                                        <input class="form-control" name="modalOrder" type="text" disabled/>

                                                        <label>Family</label>
                                                        <input class="form-control" name="modalFamily" type="text" disabled/>

                                                        <label>Genus</label>
                                                        <input class="form-control" name="modalGenus" type="text" disabled/>

                                                        <label>Species</label>
                                                        <input class="form-control" name="modalSpecies" type="text" disabled/>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6 class="card-title">ISOLATION, SAMPLING AND ENVIRONMENTAL INFORMATION</h6>

                                                <div class="card-body">
                                                    <div class="form-group has-label">
                                                        <label>Sample Type</label>
                                                        <input class="form-control" name="modalSample" type="text">

                                                        <label>Method of Isolation</label>
                                                        <input class="form-control" name="modalIsolation" type="text">

                                                        <label>Method of Identification</label>
                                                        <input class="form-control" name="modalIdentification" type="text">

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="for-footer">
                            <div align="right">
                                <button type="button" class="btn btn-primary" id="toSave" onclick="updateBacteria()">Save
                                    changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal2 -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="title title-up">ANIMAL</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form enctype="multipart/form-data" id="editAnimalForm" action="" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body ">
                                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail">
                                                    <img class='animalEditPic' src="../assets/img/image_placeholder.jpg" width="170" height="110" alt="...">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                <div>
                                                    <span class="btn btn-rose btn-file">
                                                        <span class="fileinput-new">Select image</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" class="animalAdd" name="animalImg" />
                                                    </span>
                                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                        <i class="fa fa-times"></i> Remove</a>
                                                </div>
                                            </div>

                                            <div class="form-group has-label">
                                                <label>Common Name</label>
                                                <input class="form-control animalAdd" name="modalCommonName" type="text" />

                                                <label>Scientific Name</label>
                                                <input class="form-control animalAdd searchAnimal" name="modalScientificName" type="text" />

                                                <label>Body Site</label>
                                                <input class="form-control animalAdd" name="modalBodySite" type="text" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body ">

                                            <div class="form-group has-label">
                                                <label>Phylum</label>
                                                <input class="form-control" name="modalPhylum2" type="text" disabled/>

                                                <label>Class</label>
                                                <input class="form-control" name="modalClass2" type="text" disabled/>

                                                <label>Order</label>
                                                <input class="form-control" name="modalOrder2" type="text" disabled/>

                                                <label>Family</label>
                                                <input class="form-control" name="modalFamily2" type="text" disabled/>

                                                <label>Genus</label>
                                                <input class="form-control" name="modalGenus2" type="text" disabled/>

                                                <label>Species</label>
                                                <input class="form-control" name="modalSpecies2" type="text" disabled/>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                        <div class="for-footer">
                            <div align="right">
                                <button type="button" class="btn btn-primary" id="toSave" onclick="updateAnimal()">Save changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--View Modal-->
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content for-scroll">
                        <div class="modal-header justify-content-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="title title-up">BACTERIUM INFORMATION</h4>
                        </div>
                        <div class="modal-body body-scroll">
                            <br><h6 id="bacteriaName"></h6>

                            <div class="card-body">
                                <div class="form-group has-label">
                                    <h6 class="card-title">Bacterium Details</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Animal Name</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="animalName"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tissue Specifity</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="tissueName"></label>
                                        </div>
                                    </div><br>
                                    <h6 class="card-title">ISOLATION, SAMPLING AND ENVIRONMENTAL INFORMATION</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Sample Type</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="sampleName"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Method Of Isolation</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="isolationName"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Method Of Identification</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="identificationName"></label>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="card-title">TAXONOMIC CLASSIFICATION</h6>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Phylum</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="phylum"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Class</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="classs"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Order</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="order"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Family</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="family"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Genus</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="genus"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Species</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="species"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--View Modal2-->
            <div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="title title-up">ANIMAL INFORMATION</h4>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="form-group has-label">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img width="300" height="200" src="" class="animalPic" />
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="card-title">ANimal</h6>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Animal Name</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="animalName2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Scientific Name</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="scientificName"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Body Site</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label id="bodySite"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="card-title">TAXONOMIC CLASSIFICATION</h6>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>Phylum</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="phylum2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>Class</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="classs2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>Order</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="order2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>Family</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="family2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>Genus</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="genus2"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>Species</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="species2"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/bacteria.js"></script>
    <script src="../../assets/js/admin/animal.js"></script>
    <script>
        $(".navbarName").html("Table List / Host");
        $("#list").addClass("active");
        $("#tableList").addClass("show");
        $("#hTable").addClass("active");
    </script>
</body>

</html>