<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm"></div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <form enctype="multipart/form-data" id="journalForm" method="POST" onsubmit="addJournal(event)">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title"> JOURNAL FORM</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group has-label">
                                                <label>Journal Code</label>
                                                <input class="form-control" name="strJournalCode" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-label">
                                                <label>Journal Name</label>
                                                <input class="form-control" name="strJournalName" type="text" />

                                                <label>DOI</label>
                                                <input class="form-control" name="strDoi" type="text" />

                                                <br>
                                                <div class="form-group form-file-upload form-file-simple">
                                                    <input type="text" name="inputfile" class="form-control inputFileVisible"
                                                        placeholder="Select a File">
                                                    <input type="file" name="myfile" class="inputFileHidden" style="z-index: -1;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer" align="right">
                                    <button type="button" class="btn btn-warning" onclick="clearJournal()">Clear</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header">
                                    <label>To Assign Journal: </label> &nbsp;
                                    <a data-toggle='modal' href='#journalModal'>
                                        <button type="submit" class="btn btn-primary" onclick="">Assign Journal</button>
                                    </a>
                                    <br>
                                    <br>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="journalTable">
                                        <thead class="text-primary">
                                            <th>
                                                <small>
                                                    <b>JOURNAL NAME</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>ACTION</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>STATUS</b>
                                                </small>
                                            </th>
                                        </thead>
                                        <tbody id="journalTableList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title title-up">JOURNAL DETAILS</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editJournal" action="/updateJournal" method="POST">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-label">
                                                <label>Journal Code</label>
                                                <input class="form-control" name="modalJournalCode" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-label">
                                                <label>Journal Name</label>
                                                <input class="form-control" name="modalJournalName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-label">
                                                <label>DOI</label>
                                                <input class="form-control" name="modalDoi" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="for-footer">
                        <div align="right">
                            <button type="button" class="btn btn-primary" id="toSave" onclick="updateJournal()">Save
                                changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--View Modal-->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModal" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title title-up">JOURNAL INFORMATION</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <h6 id="modalViewName"></h6>

                    <div class="card-body">
                        <div class="form-group has-label">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Journal Code</label>
                                </div>
                                <div class="col-md-2">
                                    <label>:</label>
                                </div>
                                <div class="col-md-2">
                                    <label id="modalViewCode"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>DOI</label>
                                </div>
                                <div class="col-md-2">
                                    <label>:</label>
                                </div>
                                <div class="col-md-2">
                                    <label id="modalViewDoi"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Assigned Journal-->
    <div class="modal fade" id="journalModal" tabindex="-1" role="dialog" aria-labelledby="journalModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title title-up">JOURNAL</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group has-label">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="assignedJournalForm" method="POST" onsubmit="assignedJournal(event)">
                                    <div class="form-group has-label">
                                        <label>Staff Name</label>
                                        <select class="form-control" name="selectStaffName" id="toSelectStaffName"></select>

                                        <label>Journal Name</label>
                                        <select class="form-control" name="selectJournalName" id="toSelectJournal"></select>
                                    </div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Assign</button>
                                    </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/journal.js"></script>
    <script>
        $(".navbarName").html("Journal");
        $("#journal").addClass("active");
    </script>
</body>

</html>