<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card  card-tasks">
                            <div class="card-header ">
                                <h6 class="card-title">Researcher's Journal</h6>
                            </div>
                            <div class="card-body ">
                                <div class="table-full-width table-responsive">
                                    <table class="table">
                                        <tbody id="messageList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title pLabel"><strong>
                                        <i class="now-ui-icons icon icon-success ui-1_email-85"></i>
                                        <br>MESSAGES</strong>
                                </h5>
                            </div>
                            <div class="card-body ">
                                <form method="#" action="#">
                                    <p>[No Subject]</p>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>From</label>
                                        </div>
                                        <div class="col-md-1">
                                            <label>:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label id="email"></label>
                                        </div>
                                    </div><br>
                                    <label>Message</label><br>
                                    <p id="#message"></p>
                                    <div align="right">
                                        <label id="dateTime"></label><br>
                                    </div>
                                    <a href="#">Download Attachment</a><br><br>
                                    <div class="collapse" id="AddCollapse">
                                        <label>&nbsp;&nbsp;zoodissystem@gmail.com</label>
                                        <div class="form-group">
                                            <textarea rows="4" cols="60" class="form-control" name="strDiseaseDesc"
                                                type="text"></textarea>
                                        </div>
                                </form>
                            </div>
                            <div class="card-footer" align="right">
                                <button type="button" class="btn btn-primary" data-toggle="collapse" href="#AddCollapse"
                                    role="button" aria-expanded="true" aria-controls="AddCollapse" id="btnReply">Reply</button>
                                <button type="button" class="btn btn-success" onclick="" id="btnSend"><i class="now-ui-icons ui-1_send"></i>&nbsp;&nbsp;Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/message.js"></script>
    <script>
        $(".navbarName").html("Messages");
    </script>
</body>

</html>