<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/admin_navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-tasks">
                            <div class="card-header" align="right">
                                <button type="submit" class="btn btn-info"><i class="now-ui-icons ui-1_email-85"></i>&nbsp;&nbsp;&nbsp;Compose</button><hr>
                            </div>
                            <div class="card-body ">
                                <div class="table-full-width table-responsive">
                                    <table class="table">
                                        <tbody id="messageList"></tbody>
                                    </table>
                                </div>
                                <button class="prevPage">Prev</button>
                                <button class="nextPage">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/message.js"></script>
    <script>
        $(".navbarName").html("Messages");
    </script>
</body>

</html>