<!DOCTYPE html>
<html lang="en">
<head><% include ../partials/head %></head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">REJECT TABLE</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="rejectTable">
                                        <thead class="text-primary">
                                            <th><small><b>DATE</b></small></th>
                                            <th><small><b>STAFF NAME</b></small></th>
                                            <th><small><b>CATEGORY</b></small></th>
                                            <th><small><b>ADDED DATA</b></small></th>
                                        </thead>
                                        <tbody id="rejectList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/reject.js"></script>
    <script>
        $(".navbarName").html("Table List / Reject");
        $("#list").addClass("active");
        $("#tableList").addClass("show");
        $("#rTable").addClass("active");
    </script>
</body>

</html>