<!DOCTYPE html>
<html >
<head><title>REPORT</title>
    <style>
        body{      
            height: 1000px;
            width: 850px;
            margin: auto;
            padding: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }
        .container {
            padding: 50px;
        }
       .title{
            text-align: left;     
            font-size: 150%;
        }
        .date{
            text-align: right;     
            font-size: 80%;
            padding: 15px;
            font-family:'Times New Roman', Times, serif;
            font-weight: bold;
            color:	#7d7d7d;
        }
       input[type=text]{
            border-style:none;
            border-radius: 2px;
            height: 20px;
            width: 150px;
        }
       .total{
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif
        }
    </style>
</head>

<body>
    <div class="card">
        <center><img width="760" height ="150" src="/assets/img/CCIS.png"></center>
            <div class="date">
                 Date : <input type="text" name="reportDate">
             </div>
             <div class="container">
                    <div class="title">               
                       <b>Journal</b>
                    </div>
                    Total No. of Journal : <input type="text" name="ReportTotalJournal"><br><br>
                   <hr>
                   <table>
                           <tr>
                               <th><small><b>Added Journal per Week</b></small></th>&nbsp;
                               <th><small><b>Added Journal per Month</b></small></th>
                               <th><small><b>Added Journal per Year</b></small></th>
                           </tr>
                   </table>
                   <br>
                   <hr>
                   <br>
                   <div class="total">
                           Total No. of Journal per Week : <input type="text" name="JournalTotalWeek"><br><br>
                           Total No. of Journal per Month : <input type="text" name="JournalTotalMonth"><br><br>
                           Total No. of Journal per Year : <input type="text" name="JournalTotalYear"><br><br>
   
                   </div>
               </div>

             <div class="container">
                 <div class="title">               
                    <b>Animal</b>
                 </div>
                 Total No. of Animals : <input type="text" name="ReportTotalAnimal"><br><br>
                <hr>
                <table>
                        <tr>
                            <th><small><b>Added Animal per Week</b></small></th>&nbsp;
                            <th><small><b>Added Animal per Month</b></small></th>
                            <th><small><b>Added Animal per Year</b></small></th>
                        </tr>
                </table>
                <br>
                <hr>
                <br>
                <div class="total">
                        Total No. of Animal per Week : <input type="text" name="AnimalTotalWeek"><br><br>
                        Total No. of Animal per Month : <input type="text" name="AnimalTotalMonth"><br><br>
                        Total No. of Animal per Year : <input type="text" name="AnimalTotalYear"><br><br>

                </div>
            </div>

            <div class="container">
                    <div class="title">               
                       <b>Bacteria</b>
                    </div>
                    Total No. of Bacteria : <input type="text" name="ReportTotalBacteria"><br><br>
                   <hr>
                   <table>
                           <tr>
                               <th><small><b>Added Bacteria per Week</b></small></th>&nbsp;
                               <th><small><b>Added Bacteria per Month</b></small></th>
                               <th><small><b>Added Bacteria per Year</b></small></th>
                           </tr>
                   </table>
                   <br>
                   <hr>
                   <br>
                   <div class="total">
                           Total No. of Bacteria per Week : <input type="text" name="BacteriaTotalWeek"><br><br>
                           Total No. of Bacteria per Month : <input type="text" name="BacteriaTotalMonth"><br><br>
                           Total No. of Bacteria per Year : <input type="text" name="BacteriaTotalYear"><br><br>
   
                   </div>
               </div>

               <div class="container">
                    <div class="title">               
                      <b>Disease</b>
                    </div>
                    Total No. of Diseases : <input type="text" name="ReportTotalDisease"><br><br>
                   <hr>
                   <table>
                           <tr>
                               <th><small><b>Added Disease per Week</b></small></th>&nbsp;
                               <th><small><b>Added Disease per Month</b></small></th>
                               <th><small><b>Added Disease per Year</b></small></th>
                           </tr>
                   </table>
                   <br>
                   <hr>
                   <br>
                   <div class="total">
                           Total No. of Disease per Week : <input type="text" name="DiseaseTotalWeek"><br><br>
                           Total No. of Disease per Month : <input type="text" name="DiseaseTotalMonth"><br><br>
                           Total No. of Disease per Year : <input type="text" name="DiseaseTotalYear"><br><br>
   
                   </div>
               </div>

    </div>
</body>
</html>