<!DOCTYPE html>
<html lang="en">
<head><% include ../partials/head %></head>

<body>
    <div class="wrapper ">
        <% include ../partials/admin_sidebar %>
        <div class="main-panel">
            <% include ../partials/navbar %>
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <div class="card-body ">
                                <div class="card-header">
                                    <label>To create Account: </label> &nbsp;
                                    <a data-toggle='modal' href='#generate'>
                                        <button type="submit" class="btn btn-primary" onclick="generate()">Generate Code</button>
                                    </a>
                                    <br>
                                    <br>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="staffTable">
                                        <thead class="text-primary">
                                            <th>
                                                <small>
                                                    <b>STAFF NAME</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>USERNAME</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>EMAIL</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>CONTACT</b>
                                                </small>
                                            </th>
                                            <th>
                                                <small>
                                                    <b>ADMIN</b>
                                                </small>
                                            </th>
                                        </thead>
                                        <tbody id="staffList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Generate Code-->
            <div class="modal fade" id="generate" tabindex="-1" role="dialog" aria-labelledby="generate" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group has-label">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="codeForm" method="POST" onsubmit="code(event)">
                                            <h4>
                                                <b>
                                                    <center>CODE</center>
                                                </b>
                                            </h4>
                                            <input class="form-control" name="generate" id="generate" />
                                            <center>
                                                <button type="submit" class="btn btn-primary">Okay</button>
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <% include ../partials/core_js %>
    <script src="../../assets/js/admin/staff.js"></script>
    <script>
        $(".navbarName").html("Staff");
        $("#collapseExample").addClass("show");
        $("#staff").addClass("active");
    </script>
</body>

</html>